@let carriage = currentCarriage$ | async;

<div class="create-carriages__container">


  @if (carriage) {
    <app-carriage [carriage]="carriage" />
  }


  <form [formGroup]="form" class="form">
    <tui-textfield>
      <label for="name" tuiLabel>Название</label>
      <input [formControl]="form.controls.name"
             id="name"
             tuiTextfield
             type="text"
      />
    </tui-textfield>

    <tui-textfield>
      <label for="rows" tuiLabel>Количество рядов</label>
      <input [formControl]="form.controls.rows"
             id="rows"
             maxlength="2"
             tuiInputNumber
      />
    </tui-textfield>

    <div class="inputs-block-wrapper">
      <div class="input-block">
        <tui-textfield>
          <label for="rightSeats" tuiLabel>Количество мест справа</label>
          <input [formControl]="form.controls.rightSeats"
                 id="rightSeats"
                 maxlength="1"
                 tuiInputNumber
          />
        </tui-textfield>

        <tui-textfield>
          <label for="leftSeats" tuiLabel>Количество мест слева</label>
          <input [formControl]="form.controls.leftSeats"
                 id="leftSeats"
                 maxlength="1"
                 tuiInputNumber
          />
        </tui-textfield>
      </div>

      <div class="input-block">
        <tui-multi-select
          [editable]="false"
          [formControl]="form.controls.backRightSeats"
          [tuiDropdownMaxHeight]="300"
          [tuiTextfieldCleaner]="true"
        >
          Ряды справа с обратным расположением кресел
          <tui-data-list
            *tuiDataList
            emptyContent="Укажите количество рядов"
            tuiDataListDropdownManager
            tuiMultiSelectGroup
          >
            @if (form.controls.rows.valid) {
              @for (t of [].constructor(form.controls.rows.value); track index; let index = $index) {
                <button
                  [value]="index + 1"
                  tuiOption
                  type="button"
                >
                  {{ index + 1 }}
                </button>
              }
            }
          </tui-data-list>
        </tui-multi-select>

        <tui-multi-select
          [editable]="false"
          [formControl]="form.controls.backLeftSeats"
          [tuiDropdownMaxHeight]="300"
          [tuiTextfieldCleaner]="true"
          [tuiTextfieldLabelOutside]="true"
        >
          Ряды слева с обратным расположением кресел
          <tui-data-list
            *tuiDataList
            emptyContent="Укажите количество рядов"
            tuiMultiSelectGroup
          >
            @if (form.controls.rows.valid) {
              @for (_ of [].constructor(form.controls.rows.value); track index; let index = $index) {
                <button
                  [value]="index  + 1"
                  tuiOption
                  type="button"
                >
                  {{ index + 1 }}
                </button>
              }
            }
          </tui-data-list>
        </tui-multi-select>

      </div>
    </div>

    <button (click)="onSubmit()" appearance="outline" class="submit-button" tuiButton type="submit">
      Создать
    </button>
  </form>
</div>





