@let carriage = currentCarriage();

<div class="create-carriages__container">


  @if (carriage) {
    <app-carriage [carriage]="carriage" />
  }

  <form [formGroup]="form" class="form">
    <tui-textfield>
      <label for="name" tuiLabel>Название</label>
      <input [formControl]="form.controls.name"
             id="name"
             tuiTextfield
             type="text"
      />
    </tui-textfield>

    <tui-textfield>
      <label for="rows" tuiLabel>Количество рядов</label>
      <input [formControl]="form.controls.rows"
             id="rows"
             maxlength="2"
             tuiInputNumber
      />
    </tui-textfield>

    <div class="inputs-block-wrapper">
      <div class="input-block">
        <tui-textfield>
          <label for="leftSeats" tuiLabel>Количество мест слева</label>
          <input [formControl]="form.controls.leftSeats"
                 id="leftSeats"
                 maxlength="1"
                 tuiInputNumber
          />
        </tui-textfield>

        <tui-textfield>
          <label for="rightSeats" tuiLabel>Количество мест справа</label>
          <input [formControl]="form.controls.rightSeats"
                 id="rightSeats"
                 maxlength="1"
                 tuiInputNumber
          />
        </tui-textfield>
      </div>

      <div class="input-block">
        <tui-textfield>
          <label for="backRightSeats" tuiLabel>Ряды справа с обратным расположением кресел</label>
          <input [formControl]="form.controls.backRightSeats"
                 id="backRightSeats"
                 maxlength="2"
                 tuiInputNumber
          />
        </tui-textfield>


        <tui-textfield>
          <label for="backLeftSeats" tuiLabel>Ряды справа с обратным расположением кресел</label>
          <input [formControl]="form.controls.backLeftSeats"
                 id="backLeftSeats"
                 maxlength="1"
                 tuiInputNumber
          />
        </tui-textfield>

      </div>
    </div>

    <button appearance="outline" class="submit-button" tuiButton type="submit">
      Создать
    </button>
  </form>
</div>





