:host {
  flex: 1 1 auto;
  min-height: 30vh;

  border-radius: var(--tui-radius-l);
  overflow: hidden;

  box-shadow: var(--tui-shadow-medium);
  max-inline-size: 100%;
  background: var(--tui-background-elevation-3);
}

.map-container {
  width: 100%;
  min-height: 30vh;

  border-radius: var(--tui-radius-l);
  overflow: hidden;

  box-shadow: var(--tui-shadow-medium);
  max-inline-size: 100%;
  background: var(--tui-background-elevation-3);
}
