@import '@taiga-ui/core/styles/taiga-ui-local.less';

.container {
  margin-top: 1rem;

  .header {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }


  .title {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    gap: .5rem;

  }
}

.loader {
  margin-top: 3.125rem;
}

.content {
  margin-top: 1rem;

  .group-fields {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;

    @media @tui-mobile {
      flex-direction: column;
    }


    .block-fields {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex: 1;
      width: 100%;

      h2 {
        color: var(--tui-text-positive);
        text-align: center;
      }

      .select-field {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: .5rem;
      }

      .select-field tui-select {
        flex: 1 1 auto;
      }
    }
  }
}

.loader-page {
  display: flex;
  inline-size: fit-content;
  margin: 1rem 0;
}
