@let loading = loading$ | async;
@let loadingInPage = loadingInPage$ | async;
@let isRequiredControlCity = form.controls.city.invalid && form.controls.city.touched;
@let isRequiredControlLatitude = form.controls.latitude.invalid && form.controls.latitude.touched;
@let isRequiredControlLongitude = form.controls.longitude.invalid && form.controls.longitude.touched;

<div class="container">
  <h1 class="title" tuiTitle="m">
    <tui-icon icon="@tui.map-pinned" />
    Менеджер станции
  </h1>

  @if (loading) {
    <div class="loader">
      <tui-loader size="xxl" />
    </div>
  } @else {
    <div class="content">

      <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form" tuiForm="m">

        <tui-textfield>
          <label for="city" tuiLabel>Название города</label>
          <input [formControl]="form.controls.city"
                 [required]="isRequiredControlCity"
                 id="city"
                 tuiTextfield
                 type="text"
          />
        </tui-textfield>


        <tui-textfield>
          <label for="latitude" tuiLabel>Широта</label>
          <input [formControl]="form.controls.latitude"
                 [required]="isRequiredControlLatitude"
                 id="latitude"
                 tuiTextfield
                 type="text"
          />
        </tui-textfield>

        <tui-textfield>
          <label for="longitude" tuiLabel>Долгота</label>
          <input [formControl]="form.controls.longitude"
                 [required]="isRequiredControlLongitude"
                 id="longitude"
                 tuiTextfield
                 type="text"
          />
        </tui-textfield>


        <div class="connectedTo-group" formArrayName="connectedTo">
          <div class="connectedTo-header">
            <h2 class="title" tuiTitle="s">Прилегающие станции</h2>
            <button (click)="handleAddConnectedTo()" appearance="secondary" class="button-theme" size="s" tuiIconButton type="button">
              <tui-icon icon="@tui.plus" />
            </button>
          </div>

          @for (city of form.controls.connectedTo.controls; track index; let index = $index) {
            <div class="connectedTo-item">
              <div class="connectedTo-item__field">
                <tui-select [formControl]="city" tuiTextfieldSize="m" [stringify]="getNameFromStation" class="connectedTo-select" [required]="city.invalid && city.touched">
                  Станция {{ index + 1 }}
                  <tui-data-list-wrapper
                    tuiScrollable
                    *tuiDataList
                    [itemContent]="cardContent"
                    [items]="stations()"
                    emptyContent="Станции еще не добавлены!"
                  />
                </tui-select>
                <button (click)="handleRemoveConnectedTo(index)" appearance="floating" size="s" tuiButton type="button">
                  <tui-icon icon="@tui.circle-x" />
                </button>
              </div>
              <tui-error
                [error]="[] | tuiFieldError | async"
                [formControl]="city"
                class="error-message"
              />
            </div>
          }
        </div>
        <tui-loader
          [inheritColor]="true"
          [overlay]="false"
          [showLoader]="!!loadingInPage"
        >
          <div class="wrapper-loader-button">
            <button
              tuiButton
              class="submit-button"
              type="submit"
              appearance="positive"
            >
              Сохранить
            </button>

            @if (stationId()) {
              <button tuiButton type="button" appearance="outline-destructive" (click)="showDialogDeleteButton(dialogContent)">
                <tui-icon icon="@tui.trash-2" />
              </button>
            }
          </div>

        </tui-loader>
      </form>

      <app-map (clickMap)="onClickMap($event)" [initValueCoordinates]="{latitude: activeCurrentStation()?.latitude ?? 55.755702, longitude: activeCurrentStation()?.longitude ??  37.617531}" />
    </div>
  }
</div>


<ng-template
  #cardContent
  let-item
>
  <div class="card-item">
    {{ item.city }}
  </div>
</ng-template>

<ng-template #dialogContent class="dialog" let-observer>
  <h3 class="dialog__title">Внимание!</h3>
  <div class="dialog__main">
    <div>Удаление станции, так же удалит её связи с другими станциями</div>
    <div><strong>Восстановление будет невозможным!</strong></div>
  </div>

  <div class="dialog__button-group">
    <button
      (click)="observer.complete()"
      size="m"
      tuiButton
      type="button"
    >
      Отмена
    </button>
    <button
      (click)="handleClickDelete(stationId(), observer)"
      appearance="accent"
      size="m"
      tuiButton
      type="button"
    >
      Удалить
    </button>
  </div>


</ng-template>
