.seats-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 1rem;
  border: 0.2rem solid #6b6969;
  border-radius: 1rem;
  margin-bottom: 0.625rem;
}

.line {
  display: flex;
  align-items: center;
}

.text {
  text-align: center;
  margin: 0;
}

.title__columns {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.title__numbers {
  display: flex;
  width: 2.8rem;
  height: 2.8rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.vertical-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.375rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
}

.block__seats {
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
}

.carriage-row {
  display: flex;
  gap: 0;
}

.with-divider {
  padding-bottom: 1.875rem;
  margin-bottom: 1.875rem;
  border-bottom: 0.125rem solid #d7d4d4;
}

.button-update {
  width: fit-content;
}
