:host {
  flex: 1;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .6rem;
}

.route {

}
