:host {
  padding: 1rem;
}

.header {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.title {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  gap: .5rem;

}
